.p-header {
  padding: 0 10px;
  max-width: 1200px;
  margin: 0 auto;
  &__logo {
    margin-right: 2rem;
    img {
      width: 100px;
    }
    p {
      color: $black;
      font-size: 10px;
      margin-bottom: 0;
    }
  }
  &__nav {
    flex-grow: initial;
  }
  &__list {
    align-items: center;
  }
  &__item {
    white-space: nowrap;
    margin-right: 1rem;
    & a {
      display: inline-block;
      padding: .5em 0;
      color: $black;
    }
    &.--active a {
      padding-bottom: calc(.5rem - 3px);
      border-bottom: 3px solid $primary;
    }
  }
  &__btn {
    display: inline-block;
    color: $white;
    background-color: $primary;
    padding: .5em 2em;
    width: 12em;
    text-align: center;
  }
}
